/* styles.css */

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #1a1b26;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1b26;
}

:root {
  --font-family: monospace;
  --background-color: #1a1b26;
  --foreground-color: #fff;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--foreground-color);
}